@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Share+Tech+Mono&display=swap");

*,
body,
html {
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-size: 18px;
  color: white;
}

body {
  background-color: #283557;
  z-index: 200;
}
* a {
  color: #00ff00;
}

* a:hover {
  border-bottom: 2px solid #00ff00;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
div a {
  /* font-family: "Share Tech Mono"; */
  color: #00ff00;
  font-weight: 900;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3.4rem;
}
h4 {
  font-size: 3.2rem;
}
h5 {
  font-size: 3rem;
}
h6 {
  font-size: 2rem;
}

ul,
ol {
  margin-left: 1rem;
}

ol > li {
  margin: 10px 0;
}

p {
  margin: 1rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #00ff00;
  color: #2e3141;
  border: 5px solid #272a35 !important;
}
th,
td {
  border: 1px solid #00ff00;
  padding: 10px;
  /* text-align: center; */
}

.btn {
  background-color: transparent;
  padding: 10px 20px;
  font-size: 1.4rem;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #2e3141;
  background-color: #00ff00;
  clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);
  border: 2px solid transparent;
}

.btn:hover {
  color: #00ff00;
  border: 2px solid #00ff00;
  background: transparent;
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  color: #fff;
}

header img {
  max-width: 200px;
  border-radius: 5px;
  z-index: 1000;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url(/assets/img/hero_bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: center;
}

.hero h1 {
  color: #00ff00;
  letter-spacing: 10px;
  font-size: 2.5rem;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px 20px 40px 20px;
  background-color: #2e3141;
  background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hero_bg2.svg");
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
}

.section-wrapper * {
  max-width: 100%;
}

.section-wrapper h1 {
  margin: 4rem 0;
}
.section-wrapper h2 {
  margin: 3.5rem 0;
}
.section-wrapper h3 {
  margin: 3rem 0;
}
.section-wrapper h4 {
  margin: 2.5rem 0;
}
.section-wrapper h5 {
  margin: 2rem 0;
}
.section-wrapper h6 {
  margin: 1.5rem 0;
}

.section-body {
  margin: 0 auto;
  max-width: 600px;
}

.section-body *:first-child {
  padding-top: 0;
  margin-top: 0;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
}

/* gallery */

.gallery-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.gallery-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: zoom-in;
  transition: all 0.2s;
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.1);
}

.gallery-event-title {
  font-size: 1.4rem;
}

#gallery .section-title {
  margin-bottom: 0 !important;
}

.gallery-image .gallery-image-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4px 15px 4px 4px;
  background: rgb(0, 255, 17);
  border-radius: 0 20px 0 0;
}

.gallery-image .gallery-image-caption * {
  color: #272a35;
  margin: 0;
  padding: 0;
}

/* particle js */

#particles-js {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

/* lightbox */
#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px dashed #00ff00;
}

@media screen and (max-width: 600px) {
  #timer h1 {
    margin-top: 40px;
    font-size: 30px !important;
  }
  #timer h6 {
    font-size: 20px !important;
  }
  #clockdiv {
    font-size: 20px;
  }
  #clockdiv > div > span {
    padding: 5px;
  }
  header p {
    font-size: 10px;
  }
  .btn {
    font-size: 20px;
  }
  header img {
    width: 100px;
  }
  header #cs-logo {
    width: 65px;
  }
}
